.containerPrice {
  background-color: #178255;
  border-radius: 8px;
  max-width: 410px;
  padding: 32px;
}

.titlePrice {
  font-size: 14px;
  font-weight: 700;
  color: white;
  
}

.numberContain {
  display: flex;
}

.number {
  font-size: 64px;
  font-weight: 600;
  line-height: 1.0;
  color: white;
  margin: 0;
}

.month {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.0;
  color: #BEF4DE;
  margin-bottom: 0;
}

.descriptionPackage {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: white;
}



.checkBenefic {
  font-size: 20px;
  font-weight: 400;
  color: white;
  display: flex;
  margin-bottom: 20px;
}

.checkBenefic img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.checkBenefic p {
  margin: 0;
}

.click {

  display:flex;
  justify-content: center;

}

.click button {
  width: 345px;
  height: 55px;
  font-size: 20px;
  font-weight: 700;
  background-color: white;
  color: #178255;
  border-radius: 5px;
}

.click button:hover {
  background-color: #0C452E;
  color: white;
  border-color: #0C452E;
}