.card-container {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  align-items: flex-start;
  max-width: 456px;
  border: 2px solid white;
}

.card-container:hover {
  border: 2px solid #80D4FF;
}

.icon-background {
  background-color: #E5F7FF;
  padding: 16px;
  border-radius: 4px;

}

.title-description {
  margin-left: 16px;
  margin-right: 16px;
}

.title-description h2 {
  font-size: 24px;
  font-weight: 600;
  color: #2C3F49;
  margin-top: 0;
  margin-bottom: 12px;
  
}

.title-description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #506672;
  margin: 0;
}